@{
    ViewData["Title"] = "Admin Paneli";
}

<h2>Admin Paneline Hoş Geldiniz</h2>

<ul>
    <li><a href="/Admin/Gym">Spor Salonları</a></li>
    <li><a href="/Admin/Service">Hizmetler</a></li>
    <li><a href="/Admin/Trainer">Antrenörler</a></li>
    <li><a href="/Admin/TrainerAvailability">Antrenör Müsaitlikleri</a></li>
    <li><a href="/Admin/Appointment">Randevular</a></li>
</ul>
